@import "../abstracts/variables";
@import "../abstracts/mixins";

@import 'https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&display=swap';



* {
    box-sizing: border-box;
}



body {
    font-family: Manrope, sans-serif;

}


a {
    text-decoration: none;
}


.center-wrapper {
    margin: 0 auto;
    max-width: 1440px;
}