h1 {
    color: $text-color-primary;
    font-family: DynaPuff;
    font-size: 48px;
    font-weight: 700;
}


h2 {
    font-family: DynaPuff;
    font-size: 36px;
    font-weight: 700;

}


h3 {
    font-family: DynaPuff;
    font-size: 32px;
    font-weight: 700;
}