// BREAKPOINTS
$bp-md: 768px;
$bp-lg: 1200px;
$max-width: 1440px;






// BACKGROND COLORS

$background-header-and-banner: linear-gradient(253deg, #FFEE32 -13.48%, #D6D6D6 125.48%);


$background-primary: #202020;
$background-secondary: #3C3C3C;


$background-apps-color: #FFFFFF;




// TEXT COLORS


$text-color-primary: #FFF;
$text-color-secondary: #565656;
$text-color-black: #000;
$text-color-meet-smbd: #FAEB49;
