@import "../abstracts/variables";
@import "../abstracts/mixins";
@import "../base/defaults";
@import "../base/typography";





.footer {
    background-color: $background-primary;
    height: fit-content;
    padding-top: 35px;
    @include flex (center, center, column);




}




.footer__list {
    @include flex (center, center);
    gap: 34px;
    margin-bottom: 21px;
}


.footer__text {
    color: $text-color-primary;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    padding-bottom: 40px;

    @media (min-width: $bp-md) {
        font-size: 16px;
        padding-bottom: 35px;
    }

    @media (min-width: $bp-lg) {
        padding-bottom: 30px;
    }

}