@import "../abstracts/variables";
@import "../abstracts/mixins";
@import "../base/defaults";







.graphics-design {
    @include flex (start, center, column);
    background-color: $background-primary;
    height: 1260px;
    padding: 58px 21px 93px 16px;

    min-width: 320px;


    @media (min-width: $bp-md) {
        padding: 82px 32px 129px;
        height: 1122px;
    }



    @media (min-width: $bp-lg) {
        padding: 82px 190px 0;
        height: 1220px;
    }

}



.graphics-design__title {
    color: $text-color-primary;
    font-size: 36px;
    margin-bottom: 28px;
    align-self: flex-start;


    @media (min-width: $bp-md) {
        font-size: 80px;
        margin-bottom: 38px;
    }

}







.graphics-design__variants {
    width: 100%;
    min-width: 320px;
}




.wrapper-secondary-designs {
    @include flex (start, start, column);
    width: 100%;
    gap: 32px;
    height: fit-content;




    @media (min-width: $bp-md) {
        @include flex (start, start);
    }

}











.graphics-design__img-main {
    background-image: url(../../img/main-img/unsplash_rqIfy1UyIzE.jpg);
    height: 325px;
    filter: grayscale(100%);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-size: 130%;
    border-radius: 40px;
    margin-bottom: 20px;

    position: relative;


    @media (min-width: $bp-md) {
        background-size: 100%;
        height: 414px;
    }

}









.graphics-design__star {
    position: relative;


    &::before {
        content: "";
        display: block;
        background-image: url(../../img/star.svg);
        width: 172px;
        height: 172px;
        position: absolute;
        right: 35%;
        top: 25%;
        z-index: 3;
        background-size: contain;
        filter: grayscale(0);




        @media (min-width: $bp-md) {
            width: 227px;
            height: 227px;
            right: 38%;
 
        }

        @media (min-width: $bp-lg) {
            width: 268px;
            height: 268px;
            top: 20%;
            right: 37%;
        }

    }



}






.graphics-design__img-secondary--circle {
    @extend .graphics-design__img-main;
    background-image: url(../../img/main-img/rectangle1.jpg);






}


.graphics-design__img-secondary--flower {
    @extend .graphics-design__img-main;
    background-image: url(../../img/main-img/rectangle2.jpg);

    background-size: cover;

}





.graphics-design__circle {
    position: relative;


    &::before {
        @extend .graphics-design__star;

        background-image: url(../../img/circle.svg);
        width: 134px;
        height: 137px;





        @media (min-width: $bp-md) {
            width: 147px;
            height: 151px;
            right: 30%;
        }

        @media (min-width: $bp-lg) {
            width: 187px;
            height: 192px;
            top: 23%;
            right: 25%;

        }

    }



}



.graphics-design__flower {
    position: relative;


    &::before {
        @extend .graphics-design__star;

        background-image: url(../../img/flower.svg);
        width: 148px;
        height: 143px;





        @media (min-width: $bp-md) {
            width: 183px;
            height: 177px;
            right: 30%;
        }

        @media (min-width: $bp-lg) {
            width: 233px;
            height: 225px;
            top: 20%;
            right: 20%;

        }

    }



}