@import "../abstracts/variables";
@import "../abstracts/mixins";
@import "../base/defaults";




.header {
    background: $background-header-and-banner;
    @include flex (space-between, center);
    padding: 27px 16px 10px 17px;
    position: fixed;
    z-index: 999;
    width: 100%;





    @media (min-width: $bp-md) {
        padding: 38px 31px 10px 34px;
    }



    @media (min-width: $bp-lg) {
        padding: 41px 364px 10px 191px;
        max-width: 1440px;
    }


}


.header__menu {
    padding: 0;
    border: none;
    color: inherit;
    background-color: transparent;


    @media (min-width: $bp-lg) {
        display: none;
    }

}


.header__menu-list {
    display: none;

    @media (min-width: $bp-lg) {
        @include flex (space-between, center);

    }

}


.header__menu-list {
    gap: 20px;
}


.header__menu-link {
    padding: 10px 16px;
    align-self: center;
    border: 1px solid #FFF;
    border-radius: 20px;
    @include flex (center, center);
    padding: 10px 16px;
    gap: 12px;
    color: $text-color-primary;
    font-size: 16px;
    font-weight: 700;
}