@import "../abstracts/variables";
@import "../abstracts/mixins";
@import "../base/defaults";
@import "../base/typography";



.hero-banner {
    background: $background-header-and-banner;
    @include flex (start, flex-end);
    width: 100%;
    height: 800px;
    padding-bottom: 149px;
    padding-left: 21px;



    @media (min-width: $bp-md) {
        padding-bottom: 130px;
        padding-left: 34px;
 
    }



    @media (min-width: $bp-lg)  {
        padding-bottom: 119px;
        padding-left: 191px;
    }


}

.hero-banner__title {
    font-size: 48px;


    @media (min-width: $bp-md) {
        font-size: 80px;
        max-width: 900px;
    }

    

}