@import "../abstracts/variables";
@import "../abstracts/mixins";
@import "../base/defaults";
@import "../base/typography";



.meet {
    background: $background-primary;
    @include flex (center, start, column);
    width: 100%;
    height: 466px;
    padding-left: 16px;
    position: relative;
    gap: 40px;



    &::before {
        content: url("../../img/ellipse_1.svg");
        position: absolute;
        top: 25%;
        right: 0;
    }


    &::after {
        content: url("../../img/ellips_2.svg");
        position: absolute;
        top: 25%;
        right: 0;
    }



    @media (min-width: $bp-md) {
        padding-left: 33px;

        &::before {
            content: url("../../img/ellipse_3.svg");
            position: absolute;
            top: 5%;
            right: 0;
        }
    
    
        &::after {
            content: url("../../img/ellipse_4.svg");
            position: absolute;
            top: 5%;
            right: 0;
        }

    }



    @media (min-width: $bp-lg) {
        padding-left: 191px;

        
        &::before {
            content: url("../../img/ellipse_5.svg");
            position: absolute;
            top: 5%;
            right: 0;
        }
    
    
        &::after {
            content: url("../../img/ellipse_6.svg");
            position: absolute;
            top: 5%;
            right: 0;
        }

    }


}



.meet__section-title {
    color: $text-color-meet-smbd;
    margin-top: 72px;


    @media (min-width: $bp-md) {
        font-size: 48px;
    }

}


.meet__description {
    color: $text-color-primary;
    font-size: 15px;
    font-weight: 500;
    max-width: 400px;



    @media (min-width: $bp-md) {
        font-size: 16px;
        max-width: 524px;
    }
}




.meet__informations {
    @include flex (start, start);
    gap: 14px;



    @media (min-width: $bp-md) {
        gap: 96px;
    }
}



.meet__info {
    @include flex (start, start, column);
    gap: 5px;
    max-width: 105px;
}



.meet_count {
    color: $text-color-primary;

    @media (min-width: $bp-md) {
        font-size: 48px;
    }

}


.meet__info-text {
    width: 76px;
    color: $text-color-primary;
    font-size: 16px;
    font-weight: 700;

    @media (min-width: $bp-md) {
        width: 116px;
    }

}