@import "../abstracts/variables";
@import "../abstracts/mixins";
@import "../base/defaults";






.mobile-apps {
    background-color: $background-secondary;
    height: 1206px;
    padding: 52px 21px 85px 16px;
    @include flex (space-around, center, column);




    @media (min-width: $bp-md) {
        padding: 52px 32px 12px 33px;
        height: 1590px;
    }



    @media (min-width: $bp-lg) {
        padding: 86px 195px;
        height: 1460px;
    }


}


.wrapper-secondary-apps {
    @include flex (space-between, center);
    gap: 40px;
}






.arrow {
    position: relative;


    &::before {
        content: "";
        display: block;
        background-image: url(../../img/arrow.svg);
        width: 60px;
        height: 60px;
        position: absolute;
        right: 2%;
        top: 2%;


    }


}


















// main-app 




.mobile-apps__main-app {
    @include flex (start, start, column);
    background-color: $background-apps-color;
    height: fit-content;
    padding: 16px;
    border-radius: 24px;




    @media (min-width: $bp-md) {
        padding: 24px 20px;
        max-height: 680px;
    }



    @media (min-width: $bp-lg) {
        width: 1050px;
        max-height: 680px;
    }


}


.mobile-apps__main-app-img {
    background-image: url(../../img/main-img/mobile-apps__main.jpg);
    width: 100%;
    height: 278px;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 20px;


    @media (min-width: $bp-md) {
        height: 498px;
        background-size: cover;
    }

}



.mobile-apps__main-app-title {
    font-weight: 600;
    color: $text-color-secondary;
    margin-bottom: 22px;


    @media (min-width: $bp-md) {
        font-size: 40px;
    }
}



.mobile-apps__main-app-description {
    font-size: 15px;
    font-weight: 700;
    color: $background-primary;


    @media (min-width: $bp-lg) {
        width: 580px;
    }


}








// app-mobile

.mobile-apps__secondary-app-mobile {
    @extend .mobile-apps__main-app;


    @media (min-width: $bp-md) {
        width: 328px;
        height: 634px;
    }


    @media (min-width: $bp-lg) {
        width: 325px;
        height: 545px;
    }

}





.mobile-apps__secondary-app-img-mobile {
    background-image: url(../../img/main-img/mobile-apps__mobile.jpg);
    width: 100%;
    height: 363px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 20px;




    @media (min-width: $bp-md) {
        height: 448px;
    }


    @media (min-width: $bp-lg) {
        height: 338px;
    }

}



.mobile-apps__secondary-app-title {
    color: $text-color-secondary;
    margin-bottom: 22px;


}


.mobile-apps__secondary-app-description {
    @extend .mobile-apps__main-app-description;
    font-weight: 500;
    width: fit-content;
}












// app-desctop 






.mobile-apps__secondary-app-desctop {
    display: none;





    @media (min-width: $bp-md) {
        display: block;
        @include flex (start, start, column);
        background-color: $background-apps-color;
        padding: 16px;
        border-radius: 24px;
        width: 328px;
        height: 634px;
    }

    @media (min-width: $bp-lg) {
        width: 325px;
        height: 545px;
    }

}


.mobile-apps__secondary-app-img-desctop {
    background-image: url(../../img/main-img/mobile-apps__desctop.jpg);
    width: 100%;
    height: 448px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 20px;





    @media (min-width: $bp-lg) {
        height: 338px;
    }

}







// app-pc


.mobile-apps__secondary-app-pc {
    display: none;


    @media (min-width: $bp-lg) {
        display: block;
        @include flex (start, start, column);
        background-color: $background-apps-color;
        padding: 16px;
        border-radius: 24px;
        width: 325px;
        height: 545px;
    }
}





.mobile-apps__secondary-app-img-pc {


    @media (min-width: $bp-lg) {
        background-image: url(../../img/main-img/mobile-apps__pc.jpg);
        width: 100%;
        height: 338px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        margin-bottom: 20px;
    }

}