@import "../abstracts/variables";
@import "../abstracts/mixins";
@import "../base/defaults";




.new-project {
    height: 698px;
    background-color: $background-primary;

    @media (min-width: $bp-md) {
        height: 1070px;

    }



    @media (min-width: $bp-lg) {
        height: 1198px;
    }


}



.new-project__bacground {
    background-image: url(../../img/new-project/desk.jpg);
    height: 498px;
    object-fit: cover;
    margin-bottom: 53px;
    @include flex (center, center);



    @media (min-width: $bp-md) {
        height: 800px;
        margin-bottom: 96px;
    }



    @media (min-width: $bp-lg) {
        margin-bottom: 78px;
    }


}


.new-project__text {
    color: $text-color-primary;
    text-align: center;
    font-family: DynaPuff;
    font-size: 24px;
    font-weight: 700;
    width: 343px;



    @media (min-width: $bp-md) {
        font-size: 48px;
        width: 704px;
    }



    @media (min-width: $bp-lg) {
        width: 1059px;
    }



}




.new-project__btn {
    border: 1px solid $text-color-primary;
    width: 342px;
    height: 72px;
    padding: 2px;
    @include flex (start, start, column);
    border-radius: 139px;
    margin: 0 auto;
    background-color: $background-primary;


    position: relative;




    @media (min-width: $bp-md) {
        font-size: 48px;
        width: 704px;
        height: 150px;
    }



    @media (min-width: $bp-lg) {
        width: 1059px;
        height: 192px;
    }




    &::before {
        content: "";
        display: block;
        background-image: url(../../img/new-project/Dawn.svg);
        width: 52px;
        height: 51px;
        position: absolute;
        left: 10%;
        top: 12%;



        @media (min-width: $bp-md) {
            background-image: url(../../img/new-project/Dawn-big.svg);
            width: 108px;
            height: 108px;
            left: 5%;
        }



        @media (min-width: $bp-lg) {
            width: 108px;
            height: 108px;
            top: 18%;
            left: 18%;
        }

    }


    &::after {
        content: "";
        display: block;
        background-image: url(../../img/new-project/ar.svg);
        width: 35px;
        height: 17px;
        position: absolute;
        left: 63%;
        top: 56%;



        @media (min-width: $bp-md) {
            background-image: url(../../img/new-project/ar.svg);
            width: 55px;
            height: 26px;
            left: 52%;
            top: 63%;
            background-size: contain;
            background-repeat: no-repeat;
        }



        @media (min-width: $bp-lg) {

            top: 58%;
            left: 52%;
        }


    }




}






.new-project__guestion {
    color: $text-color-primary;
    text-align: center;
    font-family: DynaPuff;
    font-size: 20px;
    font-weight: 700;
    margin-top: 12px;
    margin-left: 100px;



    @media (min-width: $bp-md) {
        font-size: 48px;
        margin-top: 20px;
        margin-left: 170px;
    }



    @media (min-width: $bp-lg) {
        width: 1059px;
        margin-top: 30px;
        margin-left: 70px;
    }




}





.new-project__answer {
    color: $text-color-primary;
    text-align: center;
    font-size: 15px;
    font-weight: 500;
    margin-left: 100px;




    @media (min-width: $bp-md) {
        font-size: 24px;
        margin-left: 170px;
        margin-top: 12px;
    }



    @media (min-width: $bp-lg) {
        margin-left: 356px;
        margin-top: 20px;
    }




}